<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="SOAPDemoSoap">
     <security mode="Transport" />
    </binding>
    <binding name="SOAPDemoSoap1" />
    <binding name="SOAPDemoSoap2">
     <security mode="Transport" />
    </binding>
    <binding name="SOAPDemoSoap3" />
    <binding name="SOAPDemoSoap4">
     <security mode="Transport" />
    </binding>
    <binding name="SOAPDemoSoap5" />
    <binding name="SOAPDemoSoap6">
     <security mode="Transport" />
    </binding>
    <binding name="SOAPDemoSoap7" />
    <binding name="SOAPDemoSoap8">
     <security mode="Transport" />
    </binding>
    <binding name="SOAPDemoSoap9" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
    binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap"
    contract="DemoWS.SOAPDemoSoap" name="SOAPDemoSoap" />
   <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
    binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap2"
    contract="demoWS.SOAPDemoSoap" name="SOAPDemoSoap1" />
   <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
    binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap4"
    contract="ServiceReference1.SOAPDemoSoap" name="SOAPDemoSoap2" />
   <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
    binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap6"
    contract="ServiceReference1.SOAPDemoSoap" name="SOAPDemoSoap3" />
   <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
    binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap8"
    contract="demoWS.SOAPDemoSoap" name="SOAPDemoSoap4" />
  </client>
	</system.serviceModel>
</configuration>